.git
.github
.idea
.vscode
.fleet
.zed
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/hot
public/storage
docker-compose.yml
npm-debug.log
yarn-error.log
composer.phar
